<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="icon" type="image/png" href="../images/icon.png">
  <title><%= title %></title>
</head>

<body>
<h1>ADASD</h1>
  <div class="search-container">
    <input type="search" id="search" placeholder="သင်ရှာဖွေလိုသော စကားပုံကို ထည့်ပါ">
    <button type="button" id="search-button" onclick="performSearch()">&#128269;</button>
  </div>
  <div id="search-results-container">
  </div>
  <script src="/javascripts/index.js"></script>
</body>

</html>