<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="icon" type="image/png" href="../images/logo-icon.png">
  <title><%= title %></title>
</head>

<body>
  <div class="search-container">
    <h1>Myanmar Proverbs</h1>
    <input type="search" id="search" placeholder="သင်ရှာဖွေလိုသော စကားပုံကို ထည့်ပါ">
  </div>
  <div id="proverb-title-container">
    <% data.forEach((proverbs) => { %>
    <button class="button-like" onclick="appendText('<%= proverbs.TitleName %>')">
      <span><%= proverbs.TitleName %></span>
      <p>နှင့်ပတ်သက်သော စကားပုံများ</p>
    </button>
    <% }) %>
  </div>

  <div id="search-results-container"></div>
  <script src="/javascripts/index.js"></script>
</body>

</html>