::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "RubikScribble-Regular";
  src: url("../font/RubikScribble-Regular.ttf") format("truetype");
}

body {
  font-family: "RubikScribble-Regular";
  margin: 10px;
  text-align: center;
  background-color: white;
}

h1 {
  text-align: left;
  margin-left: 7%;
}

span {
  font-size: 120%;
  justify-content: space-between;
}

p {
  display: block;
  font-size: small;
  font-weight: lighter;
}

.search-container {
  position: absolute;
  width: 85%;
}

#search {
  position: relative;
  padding: 15px;
  left: 7%;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 16px;
  width: 102%;
  box-sizing: border-box;
}

.button-like {
  position: relative;
  padding: 10px;
  margin: 10px;
  top: 140px;
  width: 250px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 10px;
  border: 1px solid black;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.button-like:hover {
  background-color: rgb(210, 212, 210);
}

#search-results-container {
  position: absolute;
  top: 150px;
  left: 90px;
  width: 88%;
  text-align: left;
  max-height: calc(100vh - 140px);
  overflow-y: auto;
  background-color: white;
  border: 0;
  padding: 10px;
  box-sizing: border-box;
}

.card {
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.card-header {
  background-color: #f0f0f0;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.card-body {
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  #search {
    width: 86%;
    margin-right: 100px;
  }

  .search-container {
    width: 100%;
  }

  #search-results-container {
    top: 150px;
    left: 30px;
    width: 90%;
    max-height: calc(100vh - 70px);
  }

  @media only screen and (max-width: 600px) {
    .button-like {
      position: relative;
      width: 43%;
      left: 2%;
    }
  }
}
