@font-face {
  font-family: "RubikScribble-Regular";
  src: url("../font/RubikScribble-Regular.ttf") format("truetype");
}

body {
  font-family: "RubikScribble-Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 10px;
  margin-left: 40px;
  background-color: #f0f0f0;
}

.search-container {
  position: absolute;
  margin-top: 5px;
  width: 70%;
}

#search {
  position: relative;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

#search-button {
  position: absolute;
  right: -42px;
  top: 82px;
  background-color: #a7c5a8;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  font-size: 16px;
}

#search-button:hover {
  background-color: #45a049;
}

#search-results-container {
  position: absolute;
  top: 130px;
  width: 100%;
  max-height: calc(100vh - 140px);
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-sizing: border-box;
}

#search-results-container p {
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.card {
  border: 1px solid #ccc;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}

.card-header {
  background-color: #f0f0f0;
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.card-body {
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  #search {
    width: calc(100% - 100px);
    left: 5px;
  }

  .search-container {
    width: 100%;
  }

  #search-button {
    position: relative;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    top: 1px;
    left: 5px;
  }

  #search-results-container {
    top: 130px;
    right: 2px;
    width: 100%;
    max-height: calc(100vh - 70px);
  }
}
